<p class="relleno0"></p>
<body>
  <h1 class="titulo1">Mis categorías favoritas de libros. By: Francisco.
  </h1>
</body>
<Body>
  <span class="span1"><button type="button" class="btn1">
    Usuario👤
  </button></span>
  <span class="span1"><button type="button" class="btn1">
   Categorías📖
  </button></span>

</Body>

<p class="relleno1"></p>
<Body class="cuadro">
  <span class="span2"><button type="button" class="btn2">
    Cuentos📖
  </button></span>
  <span class="span2"><button type="button" class="btn2">
   Novelas🖊
  </button></span>
  <span class="span2"><button type="button" class="btn2">
    Terror🧟‍♂️
   </button></span>

   <p class="relleno2"></p>
<Body class="cuadro2">
  <span class="span3"><button type="button" class="btn3">
    Fantasía🧚🏿‍♂️
  </button></span>
  <span class="span3"><button type="button" class="btn3">
   Dramático😨
  </button></span>
  <span class="span3"><button type="button" class="btn3">
    Manga🎌
   </button></span>

   <p class="relleno3"></p>
   <Body class="cuadro3">
     <span class="span4"><button type="button" class="btn4">
       Lírico✨
     </button></span>
     <span class="span4"><button type="button" class="btn4">
      Didácticos🤓
     </button></span>
     <span class="span4"><button type="button" class="btn4">
       Romántico💕
      </button></span>

      <p class="relleno4"></p>
<Body class="cuadro4">
  <span class="span5"><button type="button" class="btn5">
    Magia oscura☠
  </button></span>

  <p class="relleno5"></p>
    
  <h4 class="sugerencia">
    ¿Te atreves a compartir un texto
    hecho por vos conmigo?.
    <div class="tipeo">Expresate en la caja de comentarios😊.
    </div>
    <div class="tipeo">
      Podes poner un pseudónimo o tus datos de Autor reales😉.
    </div>
  </h4>




<span class="form-group0">Autor (o pseudónimo):</span>
  <form>
    <div class="form-group">
      <textarea class="form-control0" rows="1"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">enviar</button>
  </form>
  

<span class="form-group1"> Mi texto: </span>

  <form>
    <div class="form-group">
      <textarea class="form-control" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Compartir mi texto✍🏻</button>
  </form>

  <p>
    <body class="relleno6">
      
    </body>
  </p>